/* -------------------------------------
 * Utilities classes
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-blue {
  background: $blue;
  color: white;
}
