.slideshow {
  width:600px;
  margin-right: auto;
  margin-left: auto
}

.controls {
  display:flex;
  justify-content: space-between;
  padding: 5px;
}

.wraper {
  background-color: #191919;
  padding: 2em;
}

.fa {
  color: white
}
