/* -------------------------------------
* Fonts
* ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
$open-sans: "Open Sans", "Helvetica", "sans-serif";
$montserrat: "Montserrat", "sans-serif";
// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;
// Local fonts
@font-face {
font-family: "BrandonLight";
src: font-url('BrandonLight.eot');
src: font-url('BrandonLight.eot?#iefix') format('embedded-opentype'),
font-url('BrandonLight.woff') format('woff'),
font-url('BrandonLight.ttf') format('truetype')
}
$brandon-light: "BrandonLight";
/* -------------------------------------
* Colors
* ------------------------------------- */
// Scheme
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$purple: #6452BD;
// Gray scale color scheme
$gray-darker: lighten(#000, 13.5%); // #222
$gray-dark: lighten(#000, 20%); // #333
$gray: lighten(#000, 33.5%); // #555
$gray-light: lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee