<div class="footer list-inline">
  <ul>
    <p>Landscapes -> <a href="https://www.instagram.com/valdav1/"><i class="fa fa-instagram"></i></a></p>
    <p>Portraits -> <a href="https://www.instagram.com/valdav2/"><i class="fa fa-instagram"></i></a></p>
  </ul>
  <p>Made with <i class="fa fa-heart"></i> by Donnie - 2017</p>
</div>
