---
title: e-Myth Peintures décoratives d'exception
---

<div class="welcome text-center padded">
<p class="doc">



<div class="container">
<div class="row">
  
  <form role="form" action="" method="post" >
    
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Nom" required>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
<div class="form-group">
        
        <div class="input-group">
          <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Prénom" required>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
      <div class="form-group">
        
        <div class="input-group">
          <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email" required  >
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
      <div class="form-group">
        <label for="InputMessage">Message</label>
        <div class="input-group">
          <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
      
      <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
    </div>
  </form>
  
</div>

</div>

</p><!-- .doc -->
</div><!-- .welcome -->
