---
title: How to find us
---
<div class="bg-primary padded text-center">
  <h2>Our team</h2>
  <br>
  <ul class="list-inline">
    <li>
      <%= image_tag "peter.jpg", class: "img-circle" %>
      <h3>Peter</h3>
    </li>
    <li>
      <%= image_tag "steven.jpg", class: "img-circle" %>
      <h3>Steven</h3>
    </li>
    <li>
      <%= image_tag "dave.jpg", class: "img-circle" %>
      <h3>Dave</h3>
    </li>
    <li>
      <%= image_tag "georges.png", class: "img-circle" %>
      <h3>Georges</h3>
    </li>
  </ul>
</div>
<div class="padded text-center">
  <h2>Contact us</h2>
  <h3><i class="fa fa-phone"></i> +33 6 66 66 66 66</h3>
  <h3><i class="fa fa-envelope"></i> <a href="mailto:contact@abitbolfashion.com">contact@abitbolfashion.com</a></h3>
</div>