---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>You're <a href="https://www.lewagon.com">Le Wagon</a>'s boilerplate!</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
