---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>Peintures</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
