---
title: e-Myth Peintures décoratives d'exception - Métier
---
<div class="welcome padded" id="presentation">

<p class="textefr">Artiste peintre, je mets mon savoir-faire au service des arts décoratifs. Dans le cadre de ma structure e-Myth, j’exerce dans les milieux du design, de la mode et de la décoration d’intérieur à Paris et en Europe, où je conçois et réalise avec mes équipes des peintures décoratives originales, classiques ou contemporaines.

Nos décors s’adressent pour l’essentiel à des particuliers en quête de renouvellement, de beauté et d’élégance pour l’agencement de leur intérieur.

Nous travaillons en coopération avec des décorateurs ou des designers, parmi lesquels figurent Aline d’Amman (Culture in Architecture), la société Meljac, Chanel ou Karl Lagerfeld.

Nos peintures animent de nombreux intérieurs de prestige à Paris. e-Myth vient par exemple de se voir confier la réalisation des décors peints des suites Karl Lagerfeld de l’Hôtel de Crillon à Paris.

Je peux venir vous présenter une sélection de décors peints créés et conçus pour des clients d’exception, afin de donner à leurs murs le charme discret d’une modernité raffinée.

Fidèle à l’état d’esprit dans lequel je pratique ce métier d’art depuis 1995, accompagné de mes équipes, je mettrai mon expérience et mon expertise au service de vos clients.
</p>

<p class="Signature">Christophe Martin</p><br/><br/>

<div id="filet_horizontal"></div>

<p class="texteEngl">As a professional artist, within the scope of my company e-Myth, I use my expertise in the field of Decorative Arts.

I am involved with Design, Fashion and Interior Decorating Industries throughout France and Europe. My team and I design and create original, classic and contemporary projects in decorative art on walls and panelings.

Our work strives to meet the interests of individual clients wishing to redecorate their homes in a beautiful, unique and elegant manner.

We work together with prestigious decorators and designers, among whom Aline d’Amman (Culture in Architecture), Société Meljac, Chanel, Karl Lagerfeld…

Our decorative work can be found in many remarkable Parisian interiors. 2016 will see e-Myth involved in the decoration of the Karl Lagerfeld Suite at Hôtel de Crillon in Paris.

I will present you with a selection of decorating paintings, created for unique clients, so as to give their walls the discreet charm of a refined modernity.

True to my vision of this art that I have been practicing since 1995, and with the help of my team, I will put my expertise and experience at your clients' service.
</p>

<p class="Signature2">Christophe Martin</p>



</div><!-- .welcome -->
