---
title: e-Myth Peintures décoratives d'exception
---
<div class="text-center padded">
<h1>L'équipe</h1>
</div>


    <div class="container text-center slideExpandUp">
    <div class="row">
      <div class="col-lg-4 col-md=12">
      <div class="style">
              <img src="images/Julie Ann-NG.jpg"  alt="Julie Ann Harmsworth" class="img-circle">
              <h3>Julie Ann Harmsworth</h3>
              <p>Artiste peintre depuis plus de vingt ans et diplômée des Langues Orientales de Paris, elle entame en 2004 une formation en peinture décorative et collabore depuis 2005 avec l’artiste français Christophe Martin sur de nombreux projets et chantiers de décorations en France et en Europe.</p>
      </div>
      </div>
      <div class="col-lg-4 col-md=12">
      <div class="style">
              <img src="images/Christophe-NG.jpg" alt="Christophe Martin" class="img-circle">
              <h3>Christophe Martin</h3>
              <p>Christophe Martin est un artiste peintre Français, né en 1965. En parallèle de sa formation dans des ateliers d’art à Paris il fait un apprentissage de la peinture décorative sur les chantiers de Jean Paul Faye avec le compagnon M.Peguinelli. Il travaille depuis plus de 20 ans en collaboration avec des décorateurs et des designers. Il a notamment réalisé des décors pour Chanel Vendôme, Karl Lagerfeld, Meljac et Culture in Architecture. Il fonde e-Myth en 2014, pour développer ses projets et répondre à de nouvelles demandes.</p>
      </div>
      </div>
      <div class="col-lg-4 col-md=12">
      <div class="style">
              <img src="images/Mariette-NG.jpg" alt="Mariette Montanier" class="img-circle">
              <h3>Mariette Montanier</h3>
              <p>Artisan, diplômée des Métiers d'Art spécialité fresque et mosaïque en 2011, elle complète sa formation par un stage aux Pays-Bas. Riche de cette expérience, elle travaille depuis sur des projets de décoration intérieurs en France et en Europe et collabore depuis 2014 avec l'artiste français Christophe Martin.</p>
      </div>
      </div>


    </div>
    </div>



</div>

<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.0/scrollreveal.min.js">
</script>
