---
title: e-Myth Peintures décoratives d'exception
---
<div class="text-center padded slideExpandUp">
<h1>L'équipe</h1>
</div>


    <div class="container text-center">
    <div class="row">
      <div class="col-lg-2 col-xs=12">
      <div class="style">
              <img src="images/Julie Ann-NG.jpg"  alt="Julie Ann Harmsworth" class="img-circle">
              <h3>Julie Ann Harmsworth</h3>
              <p>Artiste peintre depuis plus de vingt ans et diplômée des Langues Orientales de Paris, elle entame en 2004 une formation en peinture décorative et collabore depuis 2005 avec l’artiste français Christophe Martin sur de nombreux projets et chantiers de décorations en France et en Europe.</p>
      </div>
      </div>



      <div class="col-lg-2 col-xs=12">
      <div class="style">
              <img src="images/Christophe-NG.jpg" alt="Christophe Martin" class="img-circle">
              <h3>Christophe Martin</h3>
              <p>Christophe Martin est un artiste peintre Français, né en 1965. En parallèle de sa formation dans des ateliers d’art à Paris il fait un apprentissage de la peinture décorative sur les chantiers de Jean Paul Faye avec le compagnon M.Peguinelli. Il travaille depuis plus de 20 ans en collaboration avec des décorateurs et des designers. Il a notamment réalisé des décors pour Chanel Vendôme, Karl Lagerfeld, Meljac et Culture in Architecture. Il fonde e-Myth en 2014, pour développer ses projets et répondre à de nouvelles demandes.</p>
      </div>
      </div>

      <div class="col-lg-2 col-xs=12">
      <div class="style">
              <img src="images/Mariette Montanier.jpg" alt="Mariette Montanier" class="img-circle">
              <h3>Mariette Montanier</h3>
              <p>Artisan, diplômée des Métiers d'Art spécialité fresque et mosaïque en 2011, elle complète sa formation par un stage aux Pays-Bas. Riche de cette expérience, elle travaille depuis sur des projets de décoration intérieurs en France et en Europe et collabore depuis 2014 avec l'artiste français Christophe Martin.</p>
      </div>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-2 col-xs=12">
      <div class="style">
              <img src="images/Jean-Christophe Tremblay.jpg" alt="Jean-Christophe Tremblay" class="img-circle">
              <h3>Jean-Christophe Tremblay</h3>
              <p>Entrée sur concours dès l'âge de 16 ans aux Beaux-Arts de Versailles, obtient son diplôme DNSEP à l’École des Beaux-Arts de Rouen, Jean-Christophe Tramblay né en 1964 découvre le monde de la décoration haut de gamme en travaillant avec les peintres et peintres décorateurs de Jacques Garcia. Il exerce son travail depuis 1994 chez des particuliers puis en équipe sur des chantiers de prestige avec O. Guilbaud au Plazza Athénée, Grand Hôtel Continental, Opéra Garnier… ainsi que le restaurant Lasserre en binôme. Coloriste et création sur mesure, il rencontre Christophe Martin Artiste peintre en 2005 et travaille en collaboration avec son équipe sur des chantiers prestigieux sur la Place Vendôme à Paris.</p>
      </div>
      </div>

      <div class="col-lg-2 col-xs=12">
      <div class="style">
              <img src="images/Olga Orlenko.jpg" alt="Olga Orlenko" class="img-circle">
              <h3>Olga Orlenko</h3>
              <p>Olga Orlenko est une artiste plasticienne et décoratrice franco-russe, diplômée en Langues Slaves et en Histoire de l’Art à La Sorbonne et de l’INALCO à Paris. En 2002, elle commence à travailler en décoration sur des tournages de films, au théâtre et en ateliers de décor, puis en décor d’intérieur avec l’artiste français Christophe Martin. Elle suit parallèlement des formations à la Fémis et à l’École Boulle. En 2007, elle obtient le diplôme et la Médaille de bronze de l’Institut Supérieur de Peinture Décorative Van der Kelen à Bruxelles. Depuis elle travaille à l’Opéra de Paris et sur différentes collaborations artistiques en France et à l’étranger.</p>
      </div>
      </div>


    </div>
    </div>



</div>

<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.0/scrollreveal.min.js">
</script>
