---
title: Meet our team
---

<div class="text-center padded">
<h1>Our team</h1>
<ul class="list-inline">
	<li>
		<img src="http://placehold.it/200x200" alt="" class="img-circle">
		<h3>Bill</h3>
	</li>
	<li>
		<img src="http://placehold.it/200x200" alt="" class="img-circle">
		<h3>Bob</h3>
	</li>
	<li>
		<img src="http://placehold.it/200x200" alt="" class="img-circle">
		<h3>Brian</h3>
	</li>
</ul>
</div>